@model OneToManyEntityFrameworkDemo.Models.ViewModels.BoekenViewModel

<form asp-action="Filters" asp-controller="Boeken" method="get">
	<select asp-for="GeselecteerdeAuteurId" asp-items="@(new SelectList(Model.Auteurs, "AuteurId", "Naam"))" class="form-control">
		<option value="">Selectionnez un auteur</option>
	</select>
	<button type="submit" class="btn btn-primary mt-1 mb-1">Filter</button>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                AuteurNaam
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Boeken)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuteurNaam)
                </td>
            </tr>
        }
    </tbody>
</table>